<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset="utf-8">
        <title>musicroom</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <div class="container error">
            <h1>musicroom</h1>
            <div>
                <h2>Whoops</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi quos labore, rem optio eum beatae dignissimos ducimus similique minima, quae illum. Sed saepe delectus fugiat tempore veritatis sapiente, iste voluptatum!</p>
            </div>
            <div></div>
        </div>
    </body>
</html>